<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/proIndex.css">
</head>
<body>
    
</body>
</html>
<h1 class="proIndexTitle">{{title}}</h1>
{{!-- CRUD Functionality --}}
{{!-- CREATE button --}}
{{! Only show CRUD buttons if there's a session (authenticated user) }}
{{#if user}}
  <a href="/projects/add">Add a new calory</a>
{{/if}}
{{!-- READ Show Table to view all projects in db --}}
<table>
    <thead>
        <th>Calory (kcal)</th>
        <th>Day</th>
    </thead>
    <tbody>
        {{!-- Retrieve all projects and loop --}}
        {{#each dataset}}
        <tr>
            <td>{{this.calory}}</td>
            {{!-- Use the hbs helper function to format the date accordingly --}}
            <td>{{toShortDate this.day}}</td>
            {{!-- UPDATE and DELETE buttons --}}
            <td>
                {{! Only show CRUD buttons if there's a session (authenticated user) }}
                {{!-- use ../ to navigate out of the for loop into the global scope --}}
                {{#if ../user}}
                <a href="/projects/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                <a
                    href="/projects/delete/{{this._id}}"
                    onclick="return confirmDeletion()"
                    class="btn btn-danger"
                >Delete</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
